@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    width: 80%;
}

.home-container {
    display: grid;
    grid-template-rows: 3% 93% 4%;
    grid-template-areas: "header"
                         "blogs-main"
                         "footer";
    justify-items: center;
    height: 100%;
    gap: 0.1em;
}

h2,
h3,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: white;
}

header {
    grid-area: header;
    max-width: 1200px;
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-right: auto;
    margin-left: auto;
}

.icons-container {
position: fixed;
top: 35%;
}

.icons-container .icons {
display: grid;
grid-template-rows: repeat(5, 1fr);
font-size: 35px;
gap: 10px;
}

.icon-item {
    color: #fff;
}

.tab {
    padding: 5px 10px;
    background: linear-gradient(to left, rgb(72, 207, 173) 0%, rgb(67, 69, 112) 100%);
    backdrop-filter: saturate(180%) blur(20px);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.tab:hover {
    box-shadow: 0 0 8px 0 #48CFAD;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20%;
    align-items: center;
    justify-content: space-between;    
}

.nav-logo-container {
    display: flex;
    justify-self: flex-start;
    justify-content: center;
}

.nav-logo-container img {
    max-width: 165px;
    width: 100%;
}

.profile-link {
    display: flex;
    justify-self: flex-end;
    margin-right: 0.1em;
}

.profile-link a {
    color: white;
    border: 3px solid #000;
    background-color: #000;
    padding: 10px 20px 10px 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.blogs-main {
    grid-area: blogs-main;
    display: grid;
    width: 100%;
    grid-template-rows: auto 75%;
    grid-template-areas: "featured-post"
                         "posts";
}

.featured-post {
    grid-area: featured-post;
    background-color: rgb(236, 130, 112);
    padding: 0 10% 1em;
    display: grid;
    grid-template: 10% 90% / 1fr 1fr;
    grid-template-areas: "title-container ."
                         "featured-img featured-text";
}

.title-container {
    grid-area: title-container;
    margin: 0;
    padding: 0.5em 0;
    height: auto;
    align-items: center;
}

.featured-img-container {
    grid-area: featured-img
}

.featured-img-container img {
    max-width: 500px;
    width: 85%;
}

.featured-text-container {
    grid-area: featured-text;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
}

.posts {
    grid-area: posts;
}

.blogs-posts h3 {
    border-bottom: 1px solid tomato;  
    padding: 1em 0;
    text-align: center;  
}

.footer {
    grid-area: footer;
    background-color: black;
    border-top: 7px solid #48CFAD;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-icons {
    text-align: center;
    padding: 0.3em 0;
    background-color: rgb(88, 87, 86);
    display: none;
}

.footer-icons .icon-item {
    margin: 0 0.3em;
}

.footer p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font: 0.7em sans-serif;
    margin: 0;
    padding: 0.7em;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .footer-icons {
        display: block;
    }
    .icons-container {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .profile-link a {
        font-size: 0.7em;
        padding: 5px 15px 5px 5px;
        text-align: right;
        font-weight: 700;
    }
}

@media only screen and (max-width: 320px) {

}
