/*
......................___......__..___.........
...__...__.....____../  /_....(__)/  /____.....
../  __  __  \/ __ \/  /_  \./  //  // __  )...
./  / /./ / ./ /_/ /  /_/  //  //  /( (_/ /_ ..
/__/ /_/ /__/_____/\_____ //__//___/ \______)..
............................................
..........Por Cyn Romero (Ce-y-Ene).........
 */

/* Media Queries*/
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    /*Texto de bienvenida*/
    .home-main-text {
        font-size: 30px;
        letter-spacing: 1%;
    }
    
    /*íconos de redes sociales*/
    .footer-icons {
        display: block;
    }
    .icons-container {
        display: none;
    }
    .icons-container .icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 1em;
        justify-content: space-evenly;
    }
    .icon-item {
        padding: 0.1em;
        background: none;
        backdrop-filter: none;
        font-size: 0.5em;
        border-radius: 50%;
    }
    .icon-item:hover {
        color: #47afac;
        box-shadow: none;
    }

    /*Post destacado*/
    .featured-post,
    .profile {
        display: inherit;
        height: auto;
    }
    .featured-img-container img,
    .profile-img-container img {
        justify-items: center;
        width: 100%;
        margin: 1em;
    }
    .title-container {
        padding: 0.5em 0;
        height: auto;
        align-items: center;
    }
        
    .featured-text-container,
    .profile-text-container {
        max-width: 550px;
        text-align: center;
        margin: auto;
    }
    /*Grilla posts*/
    .blogs-posts,
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, 45%);
    }
    /*Sección contacto*/
    .contact {
        display: inherit;
        padding-bottom: 10%;
    }
    .contact-img {
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    /*Texto de bienvenida*/
    .home-main-text {
        font-size: 1.5em;
        letter-spacing: 0,3%;
    }
    /*NavBar*/
    nav {
        width: 100%;
        margin: 0;
    }
    .profile-link a {
        text-align: right;
        font-weight: 700;
    }
    .back {
        font-size: 13px;
    }
    /*Post destacado*/
    .title-container {
        padding-bottom: 0;
    }
    .featured-img-container,
    .profile-img-container {
        align-items: center;
    }

    /*Grilla posts*/
    .blogs-posts,
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .post-container {
        padding: 5%;
    }
}

@media only screen and (max-width: 335px) {
    /*NavBar*/
    .profile-link a {
    font-size: 1em;
    padding: 10px 5px 10px 5px;
    }
    /*Texto de bienvenida*/
    .home-main-text {
        font-size: 1.1em;
    }
    /*Botón ingresar*/
    .home-main-button {
        align-self: center;
    }
    

}