/* Media Queries*/
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    /*Texto de bienvenida*/
    .home-main-text {
        font-size: 30px;
        letter-spacing: 1%;
    }
    
    /*íconos de redes sociales*/
    .footer-icons {
        display: block;
    }
    .icons-container {
        display: none;
    }
    .icons-container .icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 1em;
        justify-content: space-evenly;
    }
    .icon-item {
        padding: 0.1em;
        background: none;
        backdrop-filter: none;
        font-size: 0.5em;
        border-radius: 50%;
    }
    .icon-item:hover {
        color: #47afac;
        box-shadow: none;
    }

    /*Post destacado*/
    .featured-post {
        display: inherit;
        height: auto;
        padding: 0 0.5em 0.5em 0.5em;
    }
    .featured-img-container img {
        width: 100%;
        margin: 1em;
    }
    .title-container {
        padding: 0.5em 0;
        height: auto;
        align-items: center;
    }
    
    .featured-img-container {
        justify-items: center;
    }
        
    .featured-text-container {
        width: 100%;
    }
    /*Grilla posts*/
    .blogs-posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, 45%);
    }
}

@media only screen and (max-width: 480px) {
    h4 {
        margin-block-end: 0;
    }
    /*Texto de bienvenida*/
    .home-main-text {
        font-size: 1.5em;
        letter-spacing: 0,3%;
    }
    /*NavBar*/
    nav {
        width: 100%;
        margin: 0;
    }
    .profile-link a {
        text-align: right;
        font-weight: 700;
    }
    /*Post destacado*/
    .title-container {
        padding-bottom: 0;
    }
    .featured-img-container {
        align-items: center;
    }
    .featured-text-container {
        padding: 0;
    }

    /*Grilla posts*/
    .blogs-posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .post-container {
        padding: 5%;
    }
}

@media only screen and (max-width: 335px) {
    /*NavBar*/
    .profile-link a {
    font-size: 1em;
    padding: 10px 5px 10px 5px;
    }
    /*Texto de bienvenida*/
    .home-main-text {
        font-size: 1.1em;
    }
    /*Botón ingresar*/
    .home-main-button {
        align-self: center;
    }
    

}